

/*===============================
		UNIVERSAL CSS	
================================= */


a:hover {text-decoration:none}
.pr{position:relative; z-index:3}

.image-overlay:before{content:"";position:absolute;z-index:0;top:0;left:0;right:0;bottom:0; background-color:#231812; opacity: 0.4;}


/*========================================
		Margins, Paddings and borders
======================================== */








/*===============================
		Flex and Positions
================================= */


.flex-center{display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;align-items:center;flex-wrap:wrap}
.flex-inherit{display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;flex-wrap:wrap}
.position-center {position: absolute; left: 0px;  right: 0px;  top: 50%;  transform: translateY(-50%);z-index:10}
.flex-nowrap {flex-wrap:nowrap !important}
.flex-center-nowrap{display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;}
.flex1 {flex:1}
.flex-justify-center{display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex; justify-content:center; align-items:center}
.justify-center{display: -webkit-box; display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex; justify-content:center}


/*==============================
		Navigations
================================ */


header{padding: 20px !important;background: #F2F7FF}
header a img{width: 179px; height: 31px; display: inline-block;}
header ul li{margin-right: 15px;}
header ul li a{font-size: 16px; font-weight: 900; color: #fff !important; position: relative; display: inline-block; letter-spacing: 1px;}
header ul li a.active{color: #E0F359 !important; font-family: 'Montserrat', sans-serif; font-weight:700}
header .navbar-collapse{flex-grow:inherit;}
header .navbar--nav{width: 100%; justify-content: center;}


.numbers-top li a {
    text-decoration: none !important;
    color: #666 !important;
    font-weight: 600;
}

/*==============================
	Backgrounds and Colors
================================ */


	
	
/*=============================== 
	Text and Headings and Tables
================================*/



/*===============================
		FOOTER
================================*/



/*===============================
		home
================================*/

.policy-container {
    max-width: 760px !important;
    width: 100%;
    margin: 40px auto;
    position: relative;
}
.policy-container h1 span {
    background: #EAE6FF;
    display: inline-block;
    margin: 0 0 0 20px;
    color: #253858;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 10px;
    border-radius: 41px;
}
.policy-container .back {
    width: 40px;
    position: absolute;
    left: -80px;
    background: #f2f7ff;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    cursor: pointer;
    top: 0;
}
.policy-container .back svg {
    font-size: 32px;
    color: #253858;
}
.policy-container h1 {
    color: #253858;
    font-size: 24px;
    margin: 0;
    font-weight: 500;
    position: relative;
}
.policy-container h1::before {
    content: '';
    width: 50px;
    height: 3px;
    background: #57d9a3;
    position: absolute;
    bottom: -14px;
}
.prequote-banner  label {
    background: #ffc400;
    width: 50px;
    height: 3px;
    display: inline-block;
}
.policy-container h2 {
    color: #253858;
    font-size: 20px;
    margin: 24px 0 0 0;
    font-weight: normal;
}
.policy-container p {
    color: #6B778C;
    font-size: 16px;
    margin: 12px 0 0 0;
    line-height: 24px;
    padding-right: 0;
}
.form-control p {
    line-height: 0;
    margin: 10px 0 0 0;
    font-size: 12px;
  
}

.landing_form_input .error-message {
    line-height: 0;
    margin: 10px 0 0 0;
    font-size: 12px;
    color: #d32f2f;
  
}
.active-live-button-gmc{
    background-color: #0065ff !important;
    color: #FFFFFF;
}

.form-control{
    display: flex; 
    width: 100%;
    padding: 0;
    font-size: 1rem;
    line-height: 0;
    border: none
    /* font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-ou */
}

.lives-button-gmc {
    border-radius: 12px;
    padding: 8px 16px;
    margin-top: 22px;
    margin-right: 22px;
    background: #fff;
    border: 1px solid;
    border-color: #9AA3B2;
    width: 100px;
}
.prequote-btn {
    background: #0065FF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    margin: 32px 0 0 0;
    height: 48px;
    border-radius: 8px;
    border: 0;
    overflow: hidden;
}

 .whatsapp-updates {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    margin: 9px 0 0 0;
}
 .whatsapp-updates p {
    display: inline-flex;
    margin: 0 0 0 0;
    color: #172B4D;
    font-size: 14px;
    font-weight: 500;
    align-items: center;
}
 .MuiSwitch-root {
    width: 58px;
    height: 38px;
    display: inline-flex;
    padding: 12px;
    z-index: 0;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    flex-shrink: 0;
    vertical-align: middle;
}
 .MuiSwitch-colorSecondary.Mui-checked {
    color: #2979ff;
}
 .MuiSwitch-switchBase.Mui-checked {
    transform: translateX(20px);
}
 .MuiSwitch-switchBase {
    top: 0;
    left: 0;
    color: #fafafa;
    z-index: 1;
    position: absolute;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
 .MuiSwitch-input {
    left: -100%;
    width: 300%;
}
.MuiButtonBase-root {
    color: inherit;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    border-radius: 0;
    vertical-align: middle;
    -moz-appearance: none;
    justify-content: center;
    text-decoration: none;
    background-color: transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}
 .jss7 {
    padding: 9px;
}
 .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
    background-color: #2979ff;
}
 .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
    opacity: 0.5;
}
.MuiSwitch-track {
    width: 100%;
    height: 100%;
    opacity: 0.38;
    z-index: -1;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 7px;
    background-color: #000;
}

.fresh-or-renewal li {
    list-style: none;
    cursor: pointer;
    position: relative;
    align-items: center;
    height: 56px;
    padding: 16px;
    border: 1px solid #5E6C84;
    border-radius: 8px;
    margin: 16px 0 0 0;
    display: flex;
}
.fresh-or-renewal li img {
    margin: 0 18px 0 0;
}
.fresh-or-renewal li p {
    color: #6B778C;
    font-size: 12px;
}
.fresh-or-renewal li p span {
    display: block;
    color: #253858;
    font-size: 16px;
    padding-bottom: 0;
	    margin-bottom: -8px;
}
.fresh-or-renewal li input[type="radio"] {
    position: absolute;
    right: 16px;

}
.fresh-or-renewal li.active {
    border-color: #0065FF;
}
 .fresh-or-renewal{padding-left:0}
 .flat-or-grader ul li {
    height: 82px;
}
 .gmc-try-calculator_notSure {
    background: url(../img/notSure.svg) no-repeat #F2F7FF;
    border: 1px solid #0065FF;
    border-radius: 8px;
    margin-top: 20px;
    height: 80px;
    padding-left:60px;
    background-position: 10px 12px;
}
.gmc-try-calculator_notSure p {
    font-size: 14px;
    color: #253858;
    font-weight: 500;
    margin-bottom: 8px;
} 
.gmc-try-calculator_notSure button {
    color: #0065FF;
    border: none;
    background: no-repeat;
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
    cursor: pointer;
    opacity: .8;
}
.fresh-or-renewal-pq3 {
    display: flex;
}

.fresh-or-renewal-pq3 li {
    list-style: none;
    cursor: pointer;
    position: relative;
    align-items: center;
    height: 56px;
    padding: 16px;
    box-shadow: 0px 0px 16px #0065ff26;
    border-radius: 8px;
    margin: 16px 16px 0 0;
    width: 200px;
    height: 162px;
}
.fresh-or-renewal-pq3 li p {
    color: #6B778C;
    font-size: 12px;
    display: flex;
}
.fresh-or-renewal-pq3 li p span {
    display: block;
    color: #253858;
    font-size: 13px;
    max-width: 134px;
	line-height:1.2
}
.fresh-or-renewal-pq3 li label {
    position: absolute;
    right: 16px;
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #5E6C84;
    position: absolute;
    top: 20px;
}
.fresh-or-renewal-pq3 .coverage-image-style.coverage-image-style-employee {
    height: 90px;
    width: 60px;
}
.fresh-or-renewal-pq3 .coverage-image-style {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
}
.fresh-or-renewal-pq3 li.active {
    border-color: #0065FF;
}
 .fresh-or-renewal-pq3{padding-left:0}
 .fresh-or-renewal-pq3 .coverage-image-style img{max-width:50px}
 
.fresh-or-renewal-pq3 .form-check-input{width:2em !important}
 
 .step-three h4 {
    color: rgba(37,56,88,.8);
    font-size: 12px;
    margin: 32px 0 0 0;
    font-weight: normal;
}
 .step-three h4::after {
    content: '';
    width: 25px;
    height: 1px;
    opacity: 0.8;
    background: #253858;
    display: inline-block;
    margin: 0 0 0 10px;
    vertical-align: middle;
}
 .legal-footer {
    background: #f4f5f7;
}
 .legal-footer-in {
    text-align: center;
    font-size: 12px;
    color: #6b778c;
    font-weight: 500;
    line-height: 1.42;
    padding: 20px 0 30px;
}
.form-switch{margin-left: 10px !important;}


/*===============================
		Media Query
================================*/


@media screen and (max-width:1850px) {

	
}

@media screen and (max-width:1550px) {	

	
}

@media screen and (max-width:1440px) {	
   
   
}



@media screen and (max-width:1250px) {
 
  
}


@media screen and (max-width:1024px) {

  
	
}


@media screen and (max-width:992px) {
   

	
}


@media screen and (max-width:767px) {
	

}


@media screen and (max-width:576px) {
	
 

}


@media screen and (max-width:420px) {
   

  
}

